body{
  margin:0;
  background: linear-gradient(to right, #ff7e5f, #feb47b); /* Example gradient */
}
/* Navigation Bar */
nav{
    display: flex;
    justify-content: space-between;
    background-color:#696969;
    color:aliceblue;
    height: 100px;
    align-items: center;
    border-radius: 30px;
    width:100%;
}

#nav-links{
    height: 70px;
    align-content: center;
    font-size: 20px;
  }

  #nav-links a{
    justify-content: right;
    margin-right: 15px;
    height: 30px;
    text-decoration: none;
    color:aliceblue;
}

#nav-links a:hover{
  color: #00BFFF;
}

#logo img{
    border-radius: 50%;
    height: 50px;
    margin-left: 40px;
}

#logo img:hover{
  height: 60px;
}
/* Mobile Menu */
#menu{
display:none;
}
.icon{
  display:none;
}
.burger{
  display:none;
}

/* contact form */

h1{
  text-align: center;
  margin-top:50px;
}
h3{
  text-align: center;
}

form{
  background-image: url(./images/gradient.jpg);
  background-size: cover;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  height:250px;
  width:250px;
  display:flex;
  flex-direction: column;
  border: thin black solid;
  /* box-sizing: border-box; */
  border-radius: 5px;
  box-shadow: 2px 2px 2px;
  align-content: center;
  justify-content: center;
  padding:30px;
}

form label{
  text-align: center;
}

form input{
  border-radius: 50px;
  border-width: thin;
}

form input:hover{
  box-sizing: border-box;
  border: 3px yellow solid;
}

/* Footer */

footer{
  background-color: #696969;
  height: 100px;
  position: fixed;
  bottom:0;
  border-radius: 30px;
  left:0;
  width:100%;
  justify-self: center;
}

footer ul{
  display:flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  /* padding-top:15px; */
  padding-left: 0;
  height:100%;
  margin-top:0;
}

/* #footer-links li a{
  align-self: center;
  height:100%;
} */

#footer-links li a img{
  list-style-type: none;
  height:50px;
  /* padding-top: 25px; */
}
/* quick fix for square image */
#X{
  border-radius: 4px;
}

#footer-links li a img:hover{
  height: 60px;
}

@media screen and (max-width: 650px){
  #nav-links{
    display:none;
  }
  .icon{
    display:block;
  }
  a i{
    height:50px;
    width:50px;
  }
}
